{% extends "UserBundle:Profile:layout.html.twig" %}

{% form_theme form "CoreBundle:Form:smart_form.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block profileContent %}
    <h1>{{ 'user.profile.change_password'|trans({'%username%':app.user}) }}</h1>

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
            <a class="btn btn-sm btn-default" href="{{ path('fos_user_profile_show') }}">{{ 'user.profile.buttons.back'|trans }}</a>
        </div>
    {{ form_end(form) }}
{% endblock %}