{% extends 'CoreBundle:Default:backend.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageHeader %}{{ 'user.usergroup.page_header'|trans }}{% endblock %}

{% block iconPageHeader %}group{% endblock %}

{% block widgetName %}{{ 'user.usergroup.index.widget_name'|trans }} {% endblock %}

{% block widgetIcon %}table{% endblock %}

{% block widgetBody %}
    <table id="dataTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>{{ 'table.header.actions' | trans({},'CoreBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in groups %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    {% include 'CoreBundle:Default:table_actions.html.twig' with
                        {
                            'edit_path' : path('fos_user_group_edit', { 'groupName': entity.name } ),
                            'show_path' : path('fos_user_group_view', { 'groupName': entity.name } )
                        }
                    %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "::dataTables.html.twig" %}
    <script>
        $(document).ready(function(){
            new DataTableWidget({
                containerId: '#dataTable'
            });
        });
    </script>
{% endblock %}