{% extends 'CoreBundle:Default:backend.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageHeader %}{{ 'user.usergroup.page_header'|trans }}{% endblock %}

{% block iconPageHeader %}group{% endblock %}

{% block widgetName %}{{ 'user.usergroup.show.widget_name'|trans }} {% endblock %}

{% block widgetIcon %}eye{% endblock %}

{% block widgetBody %}
    <header><h1>{{ 'user.usergroup.show.header'|trans }}</h1></header>

    <fieldset>
        <table class="table table-striped table-bordered" width="100%">
            <tr>
                <th>Nombre de Perfil</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                    {% for role in group.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </fieldset>

    {% include 'CoreBundle:Default:form_actions.html.twig' with { 'path_list' : path('fos_user_group_list'), 'hide_submit' : true } %}

{% endblock %}