{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme form 'CoreBundle:Form:bootstrap_3_layout.html.twig' %}

{% block pageHeader %}Ingreso de camiones{% endblock %}

{% block iconPageHeader %}arrow-right{% endblock %}

{% block widgetName %}Ingreso de camiones{% endblock %}

{% block widgetIcon %}truck{% endblock %}

{% block widgetBody %}

    {{ form_start(form, {'attr': {'id': 'ingreso-form', 'novalidate' : 'novalidate'}}) }}
        <fieldset>
            {% include "CamionesBundle:Camiones:tractor_form.html.twig" %}
            <legend>Datos del Chofer</legend>
            <div class="form-group" id="form-group-chofer">
                {{ form_label(form.chofer_dni) }}
                <div class="col-md-10">
                    <div class="input-group">
                        {{ form_widget(form.chofer_dni, {'attr' : {'class' : 'form-control'} }) }}
                        <div class="input-group-btn">
                            <a class="btn btn-primary" style="width: 150px" href="javascript:void(0);" id="buscar_chofer">Consultar Chofer</a>
                        </div>
                    </div>
                    <p class="note"><strong>Nota:</strong> Ingrese solo números.</p>
                    <span style="display:none" id="chofer-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontró el Chofer</span>
                </div>
            </div>
            <div style="display:none" id="chofer-data">
                {% include "CamionesBundle:Camiones:chofer_data.html.twig" %}
            </div>
            <legend>Datos del Playo</legend>
            <div class="form-group" id="form-group-playo">
                {{ form_label(form.playo_patente) }}
                <div class="col-md-10">
                    <div class="input-group">
                        {{ form_widget(form.playo_patente, {'attr' : {'class' : 'form-control'} }) }}
                        <div class="input-group-btn">
                            <a class="btn btn-primary" style="width: 150px" href="javascript:void(0);" id="buscar_playo">Consultar Playo</a>
                        </div>
                    </div>
                    <p class="note"><strong>Nota:</strong> Puede usar como ejemplo: OOZ555</p>
                    <span style="display:none" id="playo-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontró el Playo</span>
                </div>
            </div>
            <div style="display:none" id="playo-data">
                {% include "CamionesBundle:Camiones:playo_data.html.twig" %}
            </div>
            <legend>Turnos</legend>
            <div class="form-group" id="form-group-contenedor">
                {{ form_label(form.contenedor) }}
                <div class="col-md-10">
                    {{ form_widget(form.contenedor, {'attr' : {'class' : 'form-control'} }) }}
                    <span style="display:none" id="contenedor-error" class="help-block turno-error"></span>
                </div>
            </div>
        </fieldset>

        {% include 'CoreBundle:Default:bootstrap_form_actions.html.twig' with {
                    'submit_text' : 'Informar Terminal', 'submit_icon' : 'bell-o',
                    'other_actions' : [
                        { 'path' : 'javascript:void(0);', 'text' : 'Consultar Turno', 'id' : 'buscar_turno', 'classes' : 'btn btn-success' },
                        { 'path' : 'javascript:void(0);', 'text' : 'Nuevo Ingreso', 'id' : 'refresh', 'classes' : 'btn btn-default' }
                    ]
                }
        %}

    {{ form_end(form) }}

    {% include "CamionesBundle:Camiones:modal_alta_chofer.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/camiones/js/my_functions.js') }}"></script>
    <script src="{{ asset('bundles/core/smart/js/plugin/bootstrapvalidator/bootstrapValidator.min.js') }}"></script>
    <script>
        $(function() {
            dontUseEnterInForm();
            $("#refresh").click(function(e) {
                e.preventDefault();
                location.reload();
            });

            addTractorFormListener("#transporte_camionesbundle_ingreso_tractor_patente");

            /** CHOFER */
            $("#transporte_camionesbundle_ingreso_chofer_dni").keydown(function(e) {
                // Allow: backspace, delete, tab, escape and enter
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                     // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                     // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                     // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                     // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                         // let it happen, don't do anything
                         return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $("#transporte_camionesbundle_ingreso_chofer_dni").keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#buscar_chofer").click();
                }
            });
            $("#buscar_chofer").click(function(e) {
                e.preventDefault();
                $.ajax({
                    method: 'GET',
                    dataType: 'json',
                    beforeSend: setHeader,
                    url: window.transporte.apiURL + "/zap/cnrt/chofer/" + $("#transporte_camionesbundle_ingreso_chofer_dni").val()
                }).done(function(response) {
                    if (response.status == 'OK') {
                        var chofer = response.data;
                        $("#chofer-nombre-input").val(chofer.nombre);
                        $("#chofer-apellido-input").val(chofer.apellido);
                        $("#chofer-dni-input").val(chofer.dni);
                        $("#chofer-data").show();
                        $("#chofer-not-found").hide();
                    }
                }).fail(function(response) {
                    $("#chofer-data").hide();
                    $("#chofer-not-found").show();
                    /** Mostrar Modal Alta Chofer */
                    $("#modal-alta-chofer-input-firstname").val("");
                    $("#modal-alta-chofer-input-lastname").val("");
                    $("#modal-alta-chofer-input-mobile").val("");
                    $("#alta-chofer").modal();
                });
            });

            /** ALTA CHOFER */
            $("#guardar-alta-chofer").click(function(e) {
                e.preventDefault();
                var firstname = $("#modal-alta-chofer-input-firstname").val();
                var lastname = $("#modal-alta-chofer-input-lastname").val();
                var mobile = $("#modal-alta-chofer-input-mobile").val();
                if (firstname == "") $("#modal-alta-chofer-input-firstname-empty").show(); else $("#modal-alta-chofer-input-firstname-empty").hide();
                if (lastname == "") $("#modal-alta-chofer-input-lastname-empty").show(); else $("#modal-alta-chofer-input-lastname-empty").hide();
                if (mobile == "") $("#modal-alta-chofer-input-mobile-empty").show(); else $("#modal-alta-chofer-input-mobile-empty").hide();
                if (firstname !== "" && lastname !== "" && mobile !== "") {
                    var data = {
                        firstname: firstname,
                        lastname: lastname,
                        mobile: mobile
                    };
                    $.ajax({
                        method: 'POST',
                        dataType: 'json',
                        beforeSend: setHeader,
                        url: window.transporte.apiURL + "/zap/chofer",
                        data: data
                    }).done(function(response) {
                        if (response.status == 'OK') {
                            $("#chofer-nombre-input").val(firstname);
                            $("#chofer-apellido-input").val(lastname);
                            $("#chofer-mobile-input").val(mobile);
                            $("#chofer-data").show();
                            $("#chofer-not-found").hide();
                        }
                    }).fail(function(response) {
                        console.log(response);
                    });
                }
            });

            /** PLAYO */
            $("#transporte_camionesbundle_ingreso_playo_patente").keyup(function(e) {
                $(this).val($(this).val().toUpperCase());
                if(e.keyCode == 13) {
                    $("#buscar_playo").click();
                }
            });
            $("#buscar_playo").click(function(e) {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: "{{ path('buscar_playo') }}",
                    data: { playo_patente: $("#transporte_camionesbundle_ingreso_playo_patente").val() }
                }).done(function(response) {
                    if (response.status == 'ok') {
                        var playo = response.data;
                        $("#playo-data1-input").val(playo.data1);
                        $("#playo-data2-input").val(playo.data2);
                        $("#playo-data").show();
                        $("#playo-not-found").hide();
                    } else {
                        $("#playo-data").hide();
                        $("#playo-not-found").show();
                    }
                });
            });

            /** TURNOS */
            $("#buscar_turno").click(function(e) {
                e.preventDefault();
                var patente = $("#transporte_camionesbundle_ingreso_tractor_patente").val();
                var contenedor = $("#transporte_camionesbundle_ingreso_contenedor").val();
                if (patente === "" && contenedor === "") {
                    $(".turno-error").html("Debe ingresar un dato para Consultar el Turno.").show();
                    $("#form-group-tractor").addClass('has-error');
                    $("#form-group-contenedor").addClass('has-error');
                    return false;
                }

                $(".turno-error").hide();
                $("#form-group-tractor").removeClass('has-error');
                $("#form-group-contenedor").removeClass('has-error');

                var data = {};
                if (patente !== "") {
                    $.extend(data, { tractor_patente : patente });
                }
                if (contenedor !== "") {
                    $.extend(data, { contenedor : contenedor });
                }

                $.ajax({
                    method: 'POST',
                    url: "{{ path('buscar_turno') }}",
                    data: data
                }).done(function(response) {
                    if (response.status == 'ok') {
                        var turno = response.data;
                        $.smallBox({
                            title : "Turno atrasado",
                            content : "Aviso de llegada tarde. Turno: " + turno.fecha,
                            color : "#a90329",
                            iconSmall : "fa fa-warning bounce animated",
                            timeout : 4000
                        });
                    } else {
                        $.smallBox({
                            title : "Consulta de Turno",
                            content : "No se encontró el Turno.",
                            color : "#c26565",
                            iconSmall : "fa fa-warning bounce animated",
                            timeout : 4000
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}