{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme form 'CoreBundle:Form:bootstrap_3_layout.html.twig' %}

{% block pageHeader %}Ingreso de camiones{% endblock %}

{% block iconPageHeader %}arrow-right{% endblock %}

{% block widgetName %}Ingreso de camiones{% endblock %}

{% block widgetIcon %}truck{% endblock %}

{% block widgetBody %}

    {{ form_start(form, {'attr': {'id': 'ingreso-form', 'novalidate' : 'novalidate'}}) }}
        <fieldset>
            {% include "CamionesBundle:Camiones:tractor_form.html.twig" %}
            <legend>Datos del Chofer</legend>
            <div class="form-group" id="form-group-chofer">
                {{ form_label(form.chofer_dni) }}
                <div class="col-md-10">
                    <div class="input-group">
                        {{ form_widget(form.chofer_dni, {'attr' : {'class' : 'form-control'} }) }}
                        <div class="input-group-btn">
                            <a class="btn btn-primary" style="width: 150px" href="javascript:void(0);" id="buscar_chofer">Consultar Chofer</a>
                        </div>
                    </div>
                    <p class="note"><strong>Nota:</strong> Ingrese solo números.</p>
                    <span style="display:none" id="chofer-empty" class="help-block"><i class="fa fa-warning"></i> Debe ingresar un Documento</span>
                    <span style="display:none" id="chofer-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontró el Chofer</span>
                    <span style="display:none" id="chofer-cnrt-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontraron datos del Chofer en CNRT</span>
                    <span style="display:none; color: green !important" id="chofer-cnrt-found" class="help-block"><i class="fa fa-warning"></i> El Permiso del Chofer en CNRT ha sido encontrado</span>
                </div>
            </div>
            <div style="display:none" id="chofer-data">
                {% include "CamionesBundle:Camiones:chofer_data.html.twig" %}
            </div>
            <legend>Datos del Playo</legend>
            <div class="form-group" id="form-group-playo">
                {{ form_label(form.playo_patente) }}
                <div class="col-md-10">
                    <div class="input-group">
                        {{ form_widget(form.playo_patente, {'attr' : {'class' : 'form-control'} }) }}
                        <div class="input-group-btn">
                            <a class="btn btn-primary" style="width: 150px" href="javascript:void(0);" id="buscar_playo">Consultar Playo</a>
                        </div>
                    </div>
                    <span style="display:none" id="playo-empty" class="help-block"><i class="fa fa-warning"></i> Debe ingresar una Patente</span>
                    <span style="display:none" id="playo-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontró el Playo. Registrar 
                        <a class="" href="javascript:void(0);" id="cargar_playo">aquí</a>
                    </span>
                    <span style="display:none" id="playo-cnrt-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontraron datos del Playo en CNRT</span>
                    <span style="display:none; color: green !important" id="playo-cnrt-found" class="help-block" ><i class="fa fa-warning"></i> El Permiso del Playo en CNRT ha sido encontrado</span>
                </div>
            </div>
            <div style="display:none" id="playo-data">
                {% include "CamionesBundle:Camiones:playo_data.html.twig" %}
            </div>
            <legend>Turnos</legend>
            <div class="form-group" id="form-group-contenedor">
                {{ form_label(form.contenedor) }}
                <div class="col-md-10">
                    {{ form_widget(form.contenedor, {'attr' : {'class' : 'form-control', 'list' : 'contenedores-list'} }) }}
                    <datalist id="contenedores-list"></datalist>
                    <span style="display:none" id="contenedor-error" class="help-block turno-error"></span>
                    <span style="display:none" id="contenedor-empty" class="help-block"><i class="fa fa-warning"></i> Debe ingresar un Contenedor</span>
                </div>
            </div>
            <div style="display:none" class="form-group" id="form-group-turnos">
                <label class="col-md-2 control-label">Turnos</label>
                <div class="col-md-10" id="turnos-radio">
                    <span style="display:none" id="turno-not-selected" class="help-block"><i class="fa fa-warning"></i> Debe seleccionar un Turno</span>
                </div>
            </div>
            <div class="form-group" id="form-group-mov">
                {{ form_label(form.mov) }}
                <div class="col-md-10">
                    {{ form_widget(form.mov) }}
                    <span style="display:none" id="mov-empty" class="help-block"><i class="fa fa-warning"></i> Debe seleccionar un Tipo de Movimiento</span>
                </div>
            </div>
            <div class="form-group" id="form-group-terminal">
                {{ form_label(form.terminal) }}
                <div class="col-md-10">
                    {{ form_widget(form.terminal) }}
                    <span style="display:none" id="terminal-empty" class="help-block"><i class="fa fa-warning"></i> Debe seleccionar un Destino</span>
                </div>
            </div>
            <div class="form-group" id="form-group-carga" style="display:none">
                {{ form_label(form.carga) }}
                <div class="col-md-10">
                    {{ form_widget(form.carga) }}
                    <span style="display:none" id="carga-empty" class="help-block"><i class="fa fa-warning"></i> Debe seleccionar un Tipo de Carga</span>
                </div>
            </div>
        </fieldset>

        {% include 'CoreBundle:Default:bootstrap_form_actions.html.twig' with {
                    'hide_submit' : true,
                    'other_actions' : [
                        { 'path' : 'javascript:void(0);', 'text' : 'Consultar Turno por Tractor', 'id' : 'buscar_turno_por_tractor', 'classes' : 'btn btn-success' },
                        { 'path' : 'javascript:void(0);', 'text' : 'Consultar Turno por Contenedor', 'id' : 'buscar_turno_por_contenedor', 'classes' : 'btn btn-success' },
                        { 'path' : 'javascript:void(0);', 'text' : 'Nuevo Ingreso', 'id' : 'refresh', 'classes' : 'btn btn-default' },
                        { 'path' : 'javascript:void(0);', 'text' : 'Ingreso', 'id' : 'informar_terminal', 'classes' : 'btn btn-primary', 'icon' : 'bell-o' }
                    ]
                }
        %}

    {{ form_end(form) }}

    {% include "CamionesBundle:Camiones:modal_alta_chofer.html.twig" %}
    {% include "CamionesBundle:Camiones:modal_alta_tractor.html.twig" %}
    {% include "CamionesBundle:Camiones:modal_alta_playo.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/camiones/js/widgets.js') }}"></script>

    <script>
        $(function() {
            new IngresoWidget({
                tractorInputId : "#transporte_camionesbundle_ingreso_tractor_patente"
            });
        });
    </script>
{% endblock %}