{% trans_default_domain 'UserBundle' %}

<form action="{{ path("login_check") }}" method="post" class="smart-form client-form" id="login-form"  novalidate="novalidate">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <header>{{ 'security.signin'|trans }}</header>
    {% include ":includes:flashes.html.twig" %}
    <fieldset>
        <section>
            <label class="label" for="username">{{ 'security.login.username'|trans }}</label>
            <label class="input"> <i class="icon-append fa fa-user"></i>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {{ 'security.login.username'|trans }}</b>
            </label>
        </section>

        <section>
            <label class="label" for="password">{{ 'security.login.password'|trans }}</label>
            <label class="input"> <i class="icon-append fa fa-lock"></i>
                <input type="password" id="password" name="_password" required="required" />
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> {{ 'security.login.password'|trans }}</b>
            </label>
            {#
            <div class="note">
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
            </div>
            #}
        </section>
        {#
        <section>
            <label class="checkbox" for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <i></i>{{ 'security.login.remember_me'|trans }}
            </label>
        </section>
        #}
    </fieldset>
    <footer>
        <button class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
            {{ 'security.login.submit'|trans }}
        </button>
    </footer>
</form>
