{% trans_default_domain 'CoreBundle' %}

<div class="form-actions">
    <div class="row">
        <div class="col-md-12">
            {% if other_actions is defined %}
                {% for action in other_actions %}
                    {% if action.path is defined and action.text is defined %}
                        <a class="{{ action.classes|default('btn btn-primary') }}" href="{{ action.path }}" {% if action.id is defined %}id="{{ action.id }}"{% endif %}>
                            {% if action.icon is defined %}<i class="fa fa-{{ action.icon }}"></i>{% endif %}
                            {{ action.text }}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if path_edit is defined %}
                <a href="{{ path_edit }}" class="btn btn-primary">
                    {{ 'button.edit'|trans }}
                </a>
            {% endif %}
            {% if path_list is defined %}
                <a href="{{ path_list }}" class="btn btn-default">
                    {% if back_list.text is not defined %}{{ 'button.back_list'|trans }}{% else %}{{ back_list.text }}{% endif %}
                </a>
            {% endif %}
            {% if hide_submit is not defined %}
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-{% if submit_icon is defined %}{{ submit_icon }}{% else %}save{% endif %}"></i>
                    {% if submit_text is defined %}{{ submit_text }}{% else %}{{ 'button.submit'|trans }}{% endif %}
                </button>
            {% endif %}
        </div>
    </div>
</div>