<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <img src="{{ assetic('bundles/core/smart/img/logo.png') }}" width="150" alt="{{ app_title }}">
                    {{ modal_title }}
                </h4>
            </div>
            <div class="modal-body no-padding">

                {{ modal_form | raw }}

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->