{% extends "UserBundle:Profile:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "CoreBundle:Form:smart_form.html.twig" %}

{% block profileContent %}
	<h1>{{ 'user.profile.profile_edit'|trans({'%username%':app.user}) }}</h1>

	{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
	    {{ form_widget(form) }}
	    <div>
	        <input class="btn btn-sm btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
	        <a class="btn btn-sm btn-default" href="{{ path('fos_user_profile_show') }}">{{ 'user.profile.buttons.back'|trans }}</a>
	    </div>
	{{ form_end(form) }}

{% endblock %}