{% extends "CoreBundle:Default:backend.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <!-- row -->

    <div class="row">

        <div class="col-sm-12">

                <div class="well well-sm">

                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="well well-light well-sm">

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="carousel fade profile-carousel">
                                            <div class="air air-top-left padding-10">
                                                <h4 class="txt-color-white font-md">{{ "now" | date('d/m/Y H:i:s') }}</h4>
                                            </div>
                                            <div class="carousel-inner">
                                                <!-- Slide 1 -->
                                                <div class="item active">
                                                    <img style="width: 100%" src="{{ asset('bundles/core/smart/img/demo/s1.jpg') }}" alt="{{ app.user }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="row">

                                            {# Image profile #}
                                            <a id="changePhoto" class="col-sm-3 profile-pic" style="cursor:pointer">
                                                <img src="{% if app.user.webRelativePathPhoto %}{{ asset(app.user.webRelativePathPhoto) }}{% else %}{{ asset('bundles/core/images/male.png') }}{% endif %}" />
                                            </a>
                                            <form id="formPhoto" method="post" style="display:none">
                                                <input type="file" name="photo" id="photoUpload"/>
                                            </form>
                                            <div class="col-sm-6">
                                                {% block profileContent %}
                                                {% endblock %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

        </div>

    </div>

    <!-- end row -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var form = document.getElementById("formPhoto");
            $("#changePhoto").click(function() {
                $("#photoUpload").trigger("click");
            });
            $("#photoUpload").change(function(event) {
                $.ajax({
                    url: "{{ path('profile_upload_photo') }}",
                    type: "POST",
                    dataType: "json",
                    data: new FormData(form),
                    cache: false,
                    contentType: false,
                    processData: false
                })
                .done(function() {
                    location.reload();
                });
            });
        });
    </script>

{% endblock %}
