{% extends "UserBundle:Profile:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block profileContent %}
	<h1>{{ app.user }}</h1>

	{% include ":includes:flashes.html.twig" %}

	<ul class="list-unstyled">
		<li>
			<p class="text-muted">
				<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{ user.email }}">{{ user.email }}</a>
			</p>
		</li>
		<li>
			<p class="text-muted">
				<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{ 'user.profile.last_login'|trans }} <a href="javascript:void(0);">{{ user.lastLogin | date('d/m/Y H:i:s') }}</a></span>
			</p>
		</li>
	</ul>
	<br>
	<a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-xs">{{ 'user.profile.buttons.change_password'|trans }}</a>
	<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-xs">{{ 'user.profile.buttons.profile_edit'|trans }}</a>
{% endblock %}